<div id="layer_slider">
        <div class="container-fluid">               
            <div class="row">               
                <div class="span12">
                    
                    <div style="position: relative; overflow: hidden;" id="slideShow">
                        
    <!--FIRST SLIDE-->
    <div class="SlideNo" data-out="top:1000;opacity:0;" data-in="left:-100;opacity:.2;duration:500">

        <%= image_tag 'IMG_20140607_195939.jpg' %>            
                
        <div class="span12">
            <div data-in="top:-100;delay:1550;duration:550"><h2 class="layer_slider">Responsive Design</h2></div>
            <div data-in="left:-1000;delay:700;duration:1550" class="content span4">Awesome Slider</div>
            <div data-in="left:-1000;delay:800;duration:1550" class="content span4">Multiple Animations</div>
            <div data-in="left:-1000;delay:900;duration:1550" class="content span4">Easing Included</div>
            <div data-in="left:-1000;delay:1000;duration:1550" class="content span4">Parallax Effect</div>
        </div>
    </div>
            
    <!--SECOND SLIDE-->
    <div class="SlideNo" data-out="left:-1000;opacity:0;delay:9000" data-in="top:-500;duration:1200;ease:easeOutBounce;">

        <%= image_tag 'IMG_20140531_155342.jpg' %> 

        <div class="span12">
        <div data-in="opacity:0;left:100;delay:2050;duration:1050;ease:linear" data-out="left:-100;opacity:0;delay:4000;"><h2 class="layer_slider">Many Slider</h2></div>
        </div>
                                
        <div class="span3">                             
            <div class="content span12" data-in="opacity:0;left:100;delay:2050;duration:1050;ease:linear" data-out="left:-100;opacity:0;delay:4000;" >Unlimited</div>
            <div class="content span12" data-in="opacity:0;left:150;delay:2550;duration:1050;ease:linear" data-out="left:-100;opacity:0;delay:4300;" >Animations</div></div>
                                        
            <div class="span3">
            <div class="content span12" data-in="opacity:0;left:100;delay:3050;duration:1050;ease:linear" data-out="left:-100;opacity:0;delay:4000;" >Embed</div>
            <div class="content span12" data-in="opacity:0;left:150;delay:3550;duration:800;ease:linear" data-out="left:-100;opacity:0;delay:4300;" >Any HTML</div> </div>
                                        
             <div class="span3">
            <div class="content span12" data-in="opacity:0;left:100;delay:4050;duration:1050;ease:linear" data-out="left:-100;opacity:0;delay:4000;" >Use</div>
            <div class="content span12" data-in="opacity:0;left:150;delay:4550;duration:800;ease:linear" data-out="left:-100;opacity:0;delay:4300;" >Your Imagination</div>
        </div>
    </div>
                            
    <!--THIRD SLIDE-->
    <div class="SlideNo" data-out="top:-1000;opacity:0;delay:7000" data-in="left:1000;ease:linear;duration:400;delay:50">

        <%= image_tag 'IMG_20141221_135911.jpg' %>
                                
        <div class="span12" style="margin-top:15px;">
            <div data-in="top:-1000;delay:1850;duration:550"><h2 class="layer_slider">Really Flexible</h2></div>
            <div data-in="top:-1000;delay:1650;duration:550" class="content span4">Design Your Layout</div>
            <div data-in="top:-1000;delay:1450;duration:550" class="content  span4">Animate Every Element</div>
            <div data-in="top:-1000;delay:1250;duration:550" class="content  span4">Embed Any HTML</div>
            <div data-in="top:-1000;delay:1050;duration:550" class="content  span4">Does't Force Styles</div>
        </div>
    </div>

    <!--FOUR SLID-->
    <div class="SlideNo" data-out="left:-1000;opacity:0;delay:3000">
                                
        <img data-in="opacity:0;left:-100;duration:1000;ease:linear;" src="grid/large/17.jpg">

        <div class="span12">
            <div data-in="top:-100;delay:1550;duration:550"><h2 class="layer_slider">HTMLL5 AND CSS3</h2></div>
            <div data-in="left:-1000;delay:700;duration:1550" class="content span4">Mutiple Slides</div>
            <div data-in="left:-1000;delay:800;duration:1550" class="content span4">Multiple Animations</div>
            <div data-in="left:-1000;delay:900;duration:1550" class="content span4">Easing Included</div>
            <div data-in="left:-1000;delay:1000;duration:1550" class="content span4">Easing Included</div>
        </div>
    </div>

</div>

<div class="slideControlBTN">
<ul class="slideControl">
<li class=""></li>
<li class="current"></li>
<li></li>
<li></li>
</ul>
</div>
                
</div>
</div>
</div>
        
        
    <div class="_ayaSlider_timer" style="position: absolute; z-index: 4; width: 947.454px; height: 5px; background: none repeat scroll 0% 0% rgb(0, 0, 0); left: 0px; margin: 0px; padding: 0px; opacity: 0.5; top: 550px; overflow: hidden;"></div></div>